<div id="content-title">
<h2>Are you sure?</h2>
</div>
<p>
Would you like to remove <strong><%= h(@institution.name) %></strong> created on <strong><%= Date::ABBR_MONTHNAMES[@institution.created_at.mon] %> <%= @institution.created_at.day %> <%= @institution.created_at.year %></strong>?
</p>
<%= button_to "Yes!", :action => "destroy", :institution_id => @institution.id %> or <%= link_to "no, I've changed my mind", :action => "index" %>
</div>